<<<<<<< HEAD
:root
/* color */
=======
:root {
    /* background-color */
    --background-footer : #4f545c;
    --detail-color : #3ba55c;

    /* font-blue */
    --font-bule : #5865f2;

    /* font-gray */
    --font-gray1 : #4f545c;
    --font-gray2 : #68727e;
}
>>>>>>> c2720f6e28ff74704c162a12c0796b5955aa69ac

.unit-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.hide-text {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px, 0px, 99.9%, 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
}

body {
<<<<<<< HEAD
    background-color: var(--background-gray);
}

header {
    display: flex;
    justify-content: space-between;
    min-width: 1000px;
    padding: 16px;
    box-sizing: border-box;
}

.h1 {
    background: url('../img/top-logo.svg') no-repeat 0 0;
	width: 124px;
	height: 24px;
}

.header-right {

}

=======
    background-color: white;
}

/* section은 무조건 h1~6중에 하나 있어야 됨 */
.header-container {
    margin: 0 10%;
    position: relative;
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: space-between;
}

h1 {
    background: url('../img/top-logo.svg') no-repeat 0 0;
	width: 124px;
	height: 24px;
    position: relative;
}

.header-right {
    display: flex;
    font-size: 14px;
    text-align: center;
    gap: 35px;
    color: var(--font-bule);
}

.pc-view-header {
    display: flex;
    align-items: center;
    gap: 35px;
}

.mobile-view-header {
    display: none;
}

.feedback {
    color: var(--font-gray);
}

.feedback:hover {
    text-decoration: underline;
}

.lang {
    color: var(--font-gray);
    display: flex;
    align-items: center;
    gap: 8px;
}

.lang:hover {
    text-decoration: underline;
}

/* 삼각형 아니고 >모양 방향 돌린 거, translateY는 정마름모 중 반의 반만큼 올라가면 중앙 */
.lang::after {
    display: block;
    content: '';
    width: 6px;
    height: 6px;
    border: 1px solid gray;
    border-top: none;
    border-left: none;
    transform: rotate(45deg) translateY(-25%);
}

.question {
    color: var(--font-gray);
}

.question:hover {
    text-decoration: underline;
}

.login {
    color: var(--font-gray);
}

.login:hover {
    text-decoration: underline;
}

.main-content-intro {
    background: url(../img/banner.png);
    height: 350px;
    background-size: cover;
    background-position: center;
}

.search-icon { 
    position: absolute;
    top: 85%;
    transform: translateY(-50%);
    left: 15px;
    width: 18px;
    height: 18px;
    color: #777;
}

h5 {
    font-size: 36px;
    color: white;
    font-weight: 600;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
}

.search {
    /* display: flex; */
    align-items: center;
    /* justify-content: center; */
    border-radius: 50px;
    box-sizing: border-box;
    height: 40px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    border: 1px solid #888;
    outline: none;
}

.search-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 610px;
    margin: 0 auto;
}

.help {
    text-align: center;
    padding: ;
}

.help > h2 {
    margin-top: 105px;
    font-size: 24px;
    font-weight: 400;
    color: var(--font-gray1)
}

.help > p {
    font-size: 16px;
    color: var(--font-gray1);
    line-height: 1.5;
    margin-top: 16px;
    margin-bottom: 85px;
}

.help-guide {
    color: blue;
}

.help-guide:hover {
    text-decoration: underline;
}

.main-icon-box {
    display: block;
    width: 100%;
    height: 100%;
}
.main-icon-content {
    width: 240px;
    height: 260px;
    border:1px solid black;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-icon-content > h3 {
    font-size: 20px;
    color: var(--font-bule);
}

.discord-name {
    font-size: 20px;
    color: var(--font-bule);
}

.discord-text {
    font-size: 14px;
    color: var(--font-gray2);
}

.discord-img {
    margin: 20px;
}

.main-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    /* align-items: center; */
}

/* hover 했을 때 y축 -16px만큼 움직임 */
.main-icon-content:hover {
    transform: translateY(-16px);
}

hr {
    width: 50px;
    border-color: white;
    margin-top: 20px;
    margin-bottom: 8px;
}

.discord-img {
    width: 120px; 
}

.other-help {
    font-size: 24px;
    color: var(--font-gray1);
    text-align: center;
}

h2 {
    margin-bottom: 32px;
    margin-top: 70px;
}

.sub-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    align-items: center;
}

.sub-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
}

.game-developer {
    background-color: #f2f2f2;
    border: none;
}

.twitter {
    background-color: #f2f2f2;
    border: none;
}

footer {
    background-color: #23272A;
}

.fotter-phone {
    display: flex;
    position: relative;
    width: 100%;
    height: 145px;
    background-size: 814px 145px;
    background-image: url(../img/footer-phone.png);
    background-repeat: no-repeat;
    background-position: center;
}

.fotter-phone::after {

}

.footer-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.detail {
    width: 250px;
    height: 40px;
    margin: 50px 0;
    padding: 0;
    border-radius: 20px;
    background-color: var(--detail-color);
    color: white;
    border: none;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.apps-icon {
    padding: 50px;
    display: flex;
    align-items: center;
}

.apps-icon > a > figure {
    display: flex;
    width: 50px;
    height: 50px;
}

.fotter-bottom {
    display: flex;
    justify-content: space-between;
}

.bottom-logo {
    width: 120px;
    height: 120px;
    margin-left: 40px;
}

.bottom-guide {

    background-color: #23272A;
}

/* 반응형 웹 코드 max width가 1024 일 때 */
@media screen and (max-width:1024px) {

    .pc-view-header {
        display: none;
    }

    .mobile-view-header {
        display: block;
    }
    
}
>>>>>>> c2720f6e28ff74704c162a12c0796b5955aa69ac
